{% extends 'ta_app/base.html' %}
{% block body_block %}
<h1>工作列表</h1>
{% if user.is_superuser %}
<p><a href="{% url 'ta_app:create' %}" class="btn btn-primary">新增工作</a></p>
{% endif %}
<table class="table">
	<thead>
	<tr>
		<td>主旨</td>
		<td>報酬</td>
		<td>派工日期</td>
		<td>張貼日期</td>
		<td></td>
		<td></td>
	</tr>
	</thead>

	<tbody>
	{% for task in tasks %}
	<tr>
		<td><a href="{% url 'ta_app:task_detail' task.pk %} ">{{ task.subject }}</a></td>
		<td>{{ task.reward }}</td>
		<td>{{ task.begin_date }}</td>
		<td>{{ task.created_at }}</td>
		{% if user.is_superuser %}
		<td>
			<a href="{% url 'ta_app:update' task.pk %}" class="btn btn-warning">修改</a>
		</td>
		<td>
			<form method="post" action="{% url 'ta_app:delete' %}" id="task_form">
				{% csrf_token %}
				<input type="hidden" name="pk" value="{{ task.pk }}" />
				<input type="submit" value="刪除" class="btn btn-danger" />
			</form>
		</td>	
		{% endif %}
	</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}