{% extends 'ta_app/base.html' %}
{% block body_block %}

<h1>主旨：{{ task.subject }}</h1>
<p>描述：{{ task.description }}</p>

<p>報酬：{{ task.reward }}</p>
<p>需求人數：{{ task.number_of_people }}人</p>
<p>派工日期：{{ task.begin_date }}</p>
<p>張貼日期：{{ task.created_at }}</p>
<p>目前參與人：</p>
<ul>
{% for user_task in task.user.all %}
<li>{{ user_task }}</li>    
{% endfor %}
</ul>
{% if user in task.user.all %}
<a class="btn btn-danger" href="{% url 'ta_app:unjoin' task.pk %}">退出</a></p>
{% else %}
<a class="btn btn-success" href="{% url 'ta_app:join' task.pk %}">申請</a>        
{% endif %}

{% endblock %}